body {
    background: lightgray;
}
.form {
    margin: 50px auto;
    width: 700px;
    padding: 30px 25px;
    background: gold;
}
h1.login-title {
    color: black;
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 25px;
    height: 25px;
    width: calc(100% - 23px);
}
.login-input:focus {
    border-color:black;
    outline: none;
}
.login-button {
    color: black;
    background: lightgray;
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.link {
    color: grey;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}
.link a {
    color: grey;
}
h3 {
    font-weight: normal;
    text-align: center;
}
table, th, td {
  border: 1px solid;
}
